<h2> Add a New Post Below </h2>
  <div>
    <form>
      <div class="form-group">
        <label for="title">Title:</label>
        {{input class="form-control" value=title id="title"}}
      </div>
      <div class="form-group">
        <label for="date">Date:</label>
        {{input class="form-control" type="date" value=date id="date"}}
      </div>
      <div class="form-group">
        <label for="image">Image URL:</label>
        {{input class="form-control" value=image id="image"}}
      </div>
      <div class="form-group">
        <label for="body">Body:</label>
        {{textarea class="form-control" value=body id="body"}}
      </div>

      <button class="btn btn-default" {{action 'savePost'}}>Save Blog Post</button>
    </form>
  </div>
