
<div class="row">
  <div class="col-md-8">
    <h2> Welcome to a dog all about blogs! </h2>

    We hope lorem ipsum kitty puppy.
    <hr>
    {{#each model.posts as |post|}}
      {{#link-to 'post' post.id}}<h4>{{post.title}}</h4>{{/link-to}}
      <p>{{post.date}}</p>
      <img src={{post.image}}/>
      <p>{{post.body}}</p>

      <hr>
    {{/each}}
  </div>
  <div class="col-md-4" id="newPost">
    {{new-post savePost="savePost"}}
  </div>
</div>
